<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
 
<br>
<img src="https://source.unsplash.com/50x50/?pizza">

        <h2>Pizza App </h2>   

        <button mat-button class="menu-button">

              <mat-icon >dashboard</mat-icon>&nbsp;
                <span>dashboard</span>
            </button>
            <br>
            <button mat-button   class="menu-button">
                <mat-icon routerLink="first">fastfood</mat-icon>&nbsp;
                <span>Orders</span>
            </button>
            <br>

            <button mat-button class="menu-button">
                <mat-icon>local_pizza</mat-icon>&nbsp;
                <span>Food&Drinks</span>&nbsp;
            </button>
            <br>

            <button mat-button class="menu-button">
                <mat-icon>message</mat-icon>&nbsp;
                <span>Messages</span>
            </button>
            <br>

            <button mat-button class="menu-button">
                <mat-icon>settings</mat-icon>&nbsp;
                <span>Settings</span>
            </button>
    
    
    </mat-drawer>

    
    <mat-drawer-content>

      <img src="https://source.unsplash.com/65x65/?burger">

    <h1>Orders.</h1>  
    
    
    <div class="input-group flex-nowrap">
      <mat-icon aria-hidden="false" aria-label="Example search icon">search</mat-icon>
      <input type="text" placeholder="search" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recieved</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Preparing</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Ready</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
      
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="Order1 mat-elevation-z4">
          <a button mat-raised-button color="accent" routerLink="first">Rick harry</a>
               
           <mat-button-toggle-group #ButtonToggle="matButtonToggleGroup"
            aria-label="Change Status">
            <mat-form-field appearance="fill">
                <mat-label style="text-emphasis-color:primary ;">Change Status</mat-label>
                <mat-select disableRipple>
                  <mat-option  style="color: crimson;">Preparing</mat-option>
                  <mat-option style="color: green;" value="2">ready</mat-option>
                  <mat-option style="color: rgb(62, 9, 255);" value="2">Recieved</mat-option>
                </mat-select>

              </mat-form-field>
  </mat-button-toggle-group>
            
          </div>  
          <div class="tab-content" id="pills-tabContent">
      
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="Order1 mat-elevation-z4">
                  <button mat-raised-button color="accent">Marty mac </button>
                       
                   <mat-button-toggle-group #ButtonToggle="matButtonToggleGroup"
                    aria-label="Change Status">
                    <mat-form-field appearance="fill">
                        <mat-label style="text-emphasis-color:primary ;">Change Status</mat-label>
                        <mat-select disableRipple>
                          <mat-option  style="color: crimson;">Preparing</mat-option>
                          <mat-option style="color: green;" value="2">ready</mat-option>
                          <mat-option style="color: rgb(62, 9, 255);" value="2">Recieved</mat-option>
                        </mat-select>
        
                      </mat-form-field>
          </mat-button-toggle-group>

          </div>  
         <div class="tab-content" id="pills-tabContent">
      
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="Order1 mat-elevation-z4">
          <button mat-raised-button color="accent">Forrest gog  </button>
               
           <mat-button-toggle-group #ButtonToggle="matButtonToggleGroup"
            aria-label="Change Status">
            <mat-form-field appearance="fill">
                <mat-label style="text-emphasis-color:primary ;">Change Status</mat-label>
                <mat-select disableRipple>
                  <mat-option  style="color: crimson;">Preparing</mat-option>
                  <mat-option style="color: green;" value="2">ready</mat-option>
                  <mat-option style="color: rgb(62, 9, 255);" value="2">Recieved</mat-option>
                </mat-select>

              </mat-form-field>
  </mat-button-toggle-group>
          </div> 
          <div class="tab-content" id="pills-tabContent">
      
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="Order1 mat-elevation-z4">
                  <button mat-raised-button color="accent">Barry  </button>
                       
                   <mat-button-toggle-group #ButtonToggle="matButtonToggleGroup"
                    aria-label="Change Status">
                    <mat-form-field appearance="fill">
                        <mat-label style="text-emphasis-color:primary ;">Change Status</mat-label>
                        <mat-select disableRipple>
                          <mat-option  style="color: crimson;">Preparing</mat-option>
                          <mat-option style="color: green;" value="2">ready</mat-option>
                          <mat-option style="color: rgb(62, 9, 255);" value="2">Recieved</mat-option>
                        </mat-select>
        
                      </mat-form-field>
          </mat-button-toggle-group>
          </div>  
    </div>

  <router-outlet></router-outlet>
  