.example-container 
{
    width: auto;
    height: 600px;
    margin: 10px;
    border: 1px solid rgb(214, 29, 29);

  }
  .img
  {
    size: -1px;
   height: -90%;
   width: 50%;
   max-width: -50vh;
   height: 10vh;

  }
  .mat-drawer-container
  {
      background-color: rgb(255, 255, 255);
  }
  h1
  {
       font-size: xx-large;
      color: orangered;
  }
  .mat-button
  {
      color: rgb(0, 0, 0);

      
  }
  .mat-drawer
  {
      background-color: rgb(255, 255, 255);
  }
  .mat-tab
  {
background-color: orangered;  }
.mat-tab-group
{
color: rgb(47, 0, 255)
}
.Order1,.Order2,.Order3,.Order4, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
    padding: 16px;
    border-color: black;
    border-radius: 0px;
  }
  
  .Order1,.Order2,.Order3,.Order4 {
    height: 100px;
    width: 400px;
  }
.mat-form-field
{
   width: 3.5cm;
   left: auto;
   object-position:bottom;
   
}
p{
    color: purple;
    right: 10%;
    object-position: left;
}

.input type
{
 
  
  border-color: rgb(224, 17, 17);
}
.mat-icon
{
  object-position: right;
}